.dark{
    background: var(--localnav-background-stuck, rgba(22,22,23,0.8));
    -webkit-backdrop-filter: saturate(180%) blur(30px);
    backdrop-filter: saturate(180%) blur(30px);
}
.nav{
    width: 100%;
    position: fixed;
    z-index: 100;
}



