.link-desktop{
  color: #fff;
  opacity: .92;
  font-size: 13px;
  font-weight: 400;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-decoration: none;
}

.link-mobile{
  color: white;
  opacity: 0.9;
  font-size: 26px;
  font-weight: 550;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  letter-spacing: .007em;
  line-height: 1.1428571429;
  text-decoration: none;
}
.ul{
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}
.li{
  margin-left: 5%;
  padding: 0.9%;
}



/* -------- title style ------- */
.line-title {
  position: relative;
  width: 400px;
}
.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.line-title::before {
  width: 100%;
  background: #f2f2f2;
}
.line-title::after {
  width: 32px;
  background: #e73700;
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
  padding: 60px 50px;
}
.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.game-section .item {
  margin: 0 15px 60px;

  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.game-section .item.active {
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.game-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}
/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px;
  }
  .game-section .item {
    margin: 0 12px 60px;
  }
  .game-section .item.active {

  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    height: 330px;
  }
  .game-section .item.active {

  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    margin: 0 10px 40px;
 
  }
  .game-section .item.active {
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}















  /* -------- Botones de ver pelicula------- */
  .view_movie{
    border: 0px;
    background-color: rgba(255, 255, 255, 0.998); 
    color: black; 
    font-weight:600; 
    border-radius: 10px; 
    width: 50%; 
    height: 40px;
  }
  .view_movie:hover{
    background-color: #c9c9c9;
    color: black; 
    font-weight:600; 
    border-radius: 10px; 
    width: 44%; 
    height: 44px;
  transition: all 0.2s ease-in-out 0.1s;
  -webkit-transition: all 0.2s ease-in-out 0.1s; 
  }


  .view_movie_top{
    border: 0px;
    background-color: rgba(255, 255, 255, 0.998); 
    color: black; 
    font-weight:600; 
    border-radius: 10px; 
    width: 100%; 
    height: 40px;
  }
  .view_movie_top:hover{
    background-color: #c9c9c9;
    color: black; 
    font-weight:600; 
    border-radius: 10px; 
    width: 100%; 
    height: 60px;
  transition: all 0.2s ease-in-out 0.1s;
  -webkit-transition: all 0.2s ease-in-out 0.1s; 
  }



  @import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&display=swap');


#hero {
	height: 100vh;
	width: 100%;
	background: red;
	position: relative;
	background: url(https://images.unsplash.com/photo-1530645956250-c32934150328?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=70);
	background-size: cover;
	background-position: center center;
	transform: translateZ(0);
}

#hero { overflow: hidden; }
#hero::after {
	width: 100%; height: 100%; content: ''; display: block;
	position: absolute; top: 0; left: 0;
	
	background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5); 
	background: linear-gradient(-45deg, #FF0085, #FF4); 
	background-size: 1000%;
	mix-blend-mode: overlay;
	opacity: .7; 
	animation: bg_rotate 5s linear infinite;
	will-change: background-position;
	transform: translateZ(0);
	pointer-events: none;
}

@keyframes bg_rotate {
	0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


#hero {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 100vh;
}

.bottom {
	position: absolute;
  top: 50%;
	bottom: var(--spacing-xxl);
	padding: var(--spacing-xxl) var(--spacing-xxxl);
	max-width: 90%;
	mix-blend-mode: lighten;
	mix-blend-mode: lighten;
	color: #ccc;
}

.bottom {
	text-align: center;
	sup {
		letter-spacing: 3px;
		opacity: .7;
		font-weight: 300;
		display: inline-block;
		font-size: 1.1rem;
		margin-bottom: 20px;
		position: relative;
		color: #fff;
		&::after, &::before {
			display: block; content: ''; width: 50%; height: 0.5px; margin-top: -0.25px;
			position: absolute; top: 50%; right: 110%;
			background: currentcolor;
		}
		&::before { right: auto; left: 110%; }
	}
	h1 { font-size: 9rem; margin: 0 0 var(--spacing); letter-spacing: -1px; }
	p.lead { font-size: 1.6rem; font-weight: 400; letter-spacing: 1px; }
	button {
		all: unset;
		box-sizing: border-box;
		cursor: pointer;
		padding: var(--spacing) var(--spacing-l);
		border-radius: 50px;
		background: #aaa;
		color: #222;
		font-size: 1.4rem; text-transform: uppercase; font-weight: 400;
		margin-top: var(--spacing-l);
		opacity: .8;
		letter-spacing: .5px;
		
		&:hover { background: #eee; }
		&.loading {
			background: #aaa;
			animation: loading alternate .2s ease infinite;
		}
	}
}

@keyframes loading {
	0% { opacity: 0.5; }
	100% { opacity: 1; }
}

@media screen and (max-width: 1000px) {
	.bottom h1 { font-size: 8rem; }
}
@media screen and (max-width: 700px) {
 .bottom sup::after, .bottom sup::before { display: none; }
	.bottom sup { letter-spacing: 2px; }
	.bottom { padding: var(--spacing-xxl); }
	.bottom h1 { font-size: 7rem; }
	html { font-size: 45%; }
}


.top_left {
	position: absolute;
  top: 90%;
	color: #fff; opacity: .5;
	font-weight: bold;
	font-size: 1.6rem;
	letter-spacing: 1.5px;
	font-family: 'Metropolis', sans-serif;
	i { display: block; font-size: 70%; text-transform: uppercase; font-weigh: 300; }
}